<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
        <menuitem id="menu_account_move_alternate"
                  name="Journal Entries Ledger"
                  action="action_move_alternate"
                  sequence="5"
                  parent="account.menu_finance_entries"
                  groups="account.group_account_user,account.group_account_manager"
        />
        <menuitem id="menu_account_move_line_alternate"
                  name="Journal Items Ledger"
                  action="action_move_line_alternate"
                  sequence="5"
                  parent="account.menu_finance_entries"
                  groups="account.group_account_user,account.group_account_manager"
        />
        <menuitem id="menu_ledger_type"
                  name="Ledger Type"
                  action="action_ledger_type"
                  sequence="1"
                  parent="account.menu_finance_configuration"
                  groups="account.group_account_manager"
        />
    </data>
</openerp>
